.stickers {
    margin-top: 64px;
    position: relative;
    &__wrapper {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(3, 104px);
        justify-content: center;
    }
    &__button {
    cursor: pointer;
      margin-top: 32px;
      display: flex;
      justify-content: center;
      gap: 16px;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        color: #000;
      }
    }

    &__item {
        img {
          width: 100%;
          max-height: 118px;
          height: 100%;
        }
    }
}
.stickers__item.hidden {
  display: none;
}
.stickers__button .rotate180 {
  transform: rotate(180deg);
}
.sticker {
    justify-content:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sticker img, .sticker h3, .sticker p {
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .sticker img {
    width: 100%;
    max-width: 224px;
    max-height: 224px;
  }
  
  .sticker h3, .sticker p {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .swiper-slide-active .sticker img {
    opacity: 1;
    transform: translateY(0);
  }
  
  .swiper-slide-active .sticker h3, .swiper-slide-active .sticker p {
    opacity: 1;
    transform: translateY(0);
  }
/* Скрыть кнопки с классом 'hidden' */


/* Отобразить 6 элементов на мобильных и планшетных устройствах */


@media (min-width: 768px) {
  .stickers {
    &__wrapper {
      grid-template-columns: repeat(6, 114px);
    }
  }
  .sticker {
    img {
      max-width: 318px;
      max-height: 329px;
    }
  }
}
/* Отобразить все 9 элементов на больших экранах */

@media (max-width: 1280px) {
  .stickers__item:nth-child(n+7):not(.hidden) {
    display: none;
  }
}

/* Отобразить все 9 элементов на больших экранах */
@media (min-width: 1280px) {
  .stickers__item:nth-child(7),
  .stickers__item:nth-child(8),
  .stickers__item:nth-child(9) {
    display: inline-block;
  }
  .stickers__wrapper {
    padding-top: 64px;
    grid-template-columns: repeat(9, 120px);
  }
  .sticker {
    padding-top: 55px;

    gap: 193px;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    &__info {
      margin-top: 24px;
      max-width: 574px;
      width: 100%;
    }
  }
}
