.swiper {
  display: flex;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.swiper-wrapper {
  box-sizing: content-box;
  max-height: 476px;
}

.swiper-slide{
  
  display: flex !important;
  justify-content: center;
}
.background {
  margin: 0 4px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 319px;
  max-height: 319px;
  // background-image: url('/public/images/main.svg'); /* Замените на URL своей подложки */
  // background-size: cover;
  z-index: -1; 
}
.s-button-prev {
  width:50px;
  height: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-11rem, -50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-button-next {
    position: absolute;
    width:50px;
    height: 50px;
    top: 35%;
    right: 50%;
    transform: translate(11rem, -50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 355px) {
  .background {
    transform: translate(-52%, -50%);

  }
}
@media (max-width:768px) {
  .s-button-next {
    svg {
      width: 36px;
      height: 36px;
    }
  }
  .s-button-prev {
    svg {
      width: 36px;
      height: 36px;
    }
  }
}
@media (min-width:768px) {
  .swiper-wrapper {
    max-height: 670px;
  }
  .s-button-next {
    transform: translate(22rem, -50%);
    svg {
      width: 54px;
      height: 54px;
    }
  }
  .s-button-prev {
    transform: translate(-22rem, -50%);
    svg {
      width: 54px;
      height: 54px;
    }
  }
  .background {
    max-width: 467px;
    max-height: 467px;
  }
}

@media (min-width: 1280px) {
  .swiper-wrapper {
    max-height: 467px;

  }
  .swiper {
    max-width: 1150px;
  }
  .swiper-slide {
    max-width: 1150px;
    width: 100%;
  }
  .background {
    transform: translate(22%, -35%);
  }
  .s-button-next {
    transform: translate(36.9rem, 75%);  }
  .s-button-prev {
    transform: translate(6rem, 75%);
  }
}